@import 'tailwindcss';

@theme {
	--font-sans: 'Plus Jakarta Sans', sans-serif;
	--color-pawon-50: #F5F8F1;
	--color-pawon-100: #EBF6E0;
	--color-pawon-600: #72BE4A;
	--color-pawon-700: #4D9830;
	--color-pawon-800: #3D8024;
	--color-pawon-900: #1A2D10;
}

@media (min-width: 1024px) {
	.admin-shell-content {
		margin-left: 230px;
	}
}

.admin-placeholder-content {
	min-height: calc(100vh - 9rem);
}
